# Data Preprocessing/Feature Engineering

In [207]:
import numpy as np
import pandas as pd
import os

import sklearn.preprocessing
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor

In [208]:
df = pd.read_csv("bachelorette.csv")

In [209]:
df

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
0,SHOW,SEASON,ID,1,2,3,4,5,6,7,...,1,2,3,4,5,6,7,8,9,10
1,Bachelorette,13,13_BRYAN_A,R1,NaN,NaN,R,R,NaN,R,...,NaN,NaN,D6,D13,D1,D7,D1,D1,D1,D1
2,Bachelorette,13,13_PETER_K,NaN,R,NaN,NaN,NaN,R,R,...,NaN,D1,D6,D13,D9,D7,D1,D1,D1,D1
3,Bachelorette,13,13_ERIC_B,NaN,NaN,R,NaN,NaN,R,R,...,NaN,D10,D8,D13,D9,D1,D3,D1,D1,NaN
4,Bachelorette,13,13_DEAN_U,NaN,R,NaN,R,NaN,NaN,R,...,NaN,D8,D8,D1,D9,D7,D1,D1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [210]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 921 entries, 0 to 920
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SHOW            921 non-null    object
 1   SEASON          921 non-null    object
 2   CONTESTANT      921 non-null    object
 3   ELIMINATION-1   393 non-null    object
 4   ELIMINATION-2   237 non-null    object
 5   ELIMINATION-3   206 non-null    object
 6   ELIMINATION-4   178 non-null    object
 7   ELIMINATION-5   142 non-null    object
 8   ELIMINATION-6   131 non-null    object
 9   ELIMINATION-7   105 non-null    object
 10  ELIMINATION-8   65 non-null     object
 11  ELIMINATION-9   51 non-null     object
 12  ELIMINATION-10  64 non-null     object
 13  DATES-1         54 non-null     object
 14  DATES-2         527 non-null    object
 15  DATES-3         420 non-null    object
 16  DATES-4         349 non-null    object
 17  DATES-5         287 non-null    object
 18  DATES-6         224 non-null    object
 19  DATES-7         165 non-null    object
 20  DATES-8         112 non-null    object
 21  DATES-9         80 non-null     object
 22  DATES-10        63 non-null     object
dtypes: object(23)
memory usage: 165.6+ KB

In [211]:
df = df[df["SHOW"] =='Bachelor']

In [212]:
df

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
351,Bachelor,SEASON,ID,1,2,3,4,5,6,7,...,1,2,3,4,5,6,7,8,9,10
352,Bachelor,21,21_VANESSA_G,R1,NaN,R,NaN,NaN,NaN,NaN,...,NaN,D12,D1,D13,D10,D6,D1,D1,D1,D1
353,Bachelor,21,21_RAVEN_G,NaN,NaN,NaN,R,NaN,R,R,...,NaN,D12,NaN,D1,D10,D6,D3,D1,D1,D1
354,Bachelor,21,21_RACHEL_L,NaN,NaN,R,NaN,R,NaN,NaN,...,NaN,NaN,D7,D13,D1,D6,D1,D1,D1,NaN
355,Bachelor,21,21_CORRINE_O,NaN,R,NaN,NaN,R,NaN,NaN,...,NaN,D12,D7,D13,D2,D6,D3,D1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [213]:
import wrangle

In [214]:
df = df.iloc[1: , :]

In [215]:
df

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-1,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10
352,Bachelor,21,21_VANESSA_G,R1,NaN,R,NaN,NaN,NaN,NaN,...,NaN,D12,D1,D13,D10,D6,D1,D1,D1,D1
353,Bachelor,21,21_RAVEN_G,NaN,NaN,NaN,R,NaN,R,R,...,NaN,D12,NaN,D1,D10,D6,D3,D1,D1,D1
354,Bachelor,21,21_RACHEL_L,NaN,NaN,R,NaN,R,NaN,NaN,...,NaN,NaN,D7,D13,D1,D6,D1,D1,D1,NaN
355,Bachelor,21,21_CORRINE_O,NaN,R,NaN,NaN,R,NaN,NaN,...,NaN,D12,D7,D13,D2,D6,D3,D1,NaN,NaN
356,Bachelor,21,21_KRISTINA_S,NaN,NaN,NaN,R,R,R,EQ,...,NaN,D6,D7,D13,D10,D1,D3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [216]:
def first_impression_rose(df,col):
    df.loc[df[col] == 'R1','First Impression Rose?'] = True
    return df

In [217]:
df = first_impression_rose(df,'ELIMINATION-1')

/var/folders/3q/gh58wr8n0bn6klh8zsbs_yx40000gn/T/ipykernel_52143/3284891903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df[col] == 'R1','First Impression Rose?'] = True

In [218]:
df['First Impression Rose?'].value_counts()

True    27
Name: First Impression Rose?, dtype: int64

In [219]:
df.loc[:, 'First Impression Rose?'] = df['First Impression Rose?'].fillna(False)

/var/folders/3q/gh58wr8n0bn6klh8zsbs_yx40000gn/T/ipykernel_52143/3356366347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'First Impression Rose?'] = df['First Impression Rose?'].fillna(False)

In [220]:
df['First Impression Rose?'].value_counts()

False    542
True      27
Name: First Impression Rose?, dtype: int64

In [221]:
## dropping header rows i.e., rows that don't refer to contestants
df.drop(df.loc[df['CONTESTANT']=='ID'].index, inplace=True)

/var/folders/3q/gh58wr8n0bn6klh8zsbs_yx40000gn/T/ipykernel_52143/3080495314.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.loc[df['CONTESTANT']=='ID'].index, inplace=True)

In [222]:
df

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-2,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10,First Impression Rose?
352,Bachelor,21,21_VANESSA_G,R1,NaN,R,NaN,NaN,NaN,NaN,...,D12,D1,D13,D10,D6,D1,D1,D1,D1,True
353,Bachelor,21,21_RAVEN_G,NaN,NaN,NaN,R,NaN,R,R,...,D12,NaN,D1,D10,D6,D3,D1,D1,D1,False
354,Bachelor,21,21_RACHEL_L,NaN,NaN,R,NaN,R,NaN,NaN,...,NaN,D7,D13,D1,D6,D1,D1,D1,NaN,False
355,Bachelor,21,21_CORRINE_O,NaN,R,NaN,NaN,R,NaN,NaN,...,D12,D7,D13,D2,D6,D3,D1,NaN,NaN,False
356,Bachelor,21,21_KRISTINA_S,NaN,NaN,NaN,R,R,R,EQ,...,D6,D7,D13,D10,D1,D3,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False

In [223]:
df['Roses from Dates'] = (df[['ELIMINATION-1','ELIMINATION-2','ELIMINATION-3','ELIMINATION-4','ELIMINATION-5']] == "R").sum(axis=1)

/var/folders/3q/gh58wr8n0bn6klh8zsbs_yx40000gn/T/ipykernel_52143/4022104588.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Roses from Dates'] = (df[['ELIMINATION-1','ELIMINATION-2','ELIMINATION-3','ELIMINATION-4','ELIMINATION-5']] == "R").sum(axis=1)

In [224]:
df

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-3,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10,First Impression Rose?,Roses from Dates
352,Bachelor,21,21_VANESSA_G,R1,NaN,R,NaN,NaN,NaN,NaN,...,D1,D13,D10,D6,D1,D1,D1,D1,True,1
353,Bachelor,21,21_RAVEN_G,NaN,NaN,NaN,R,NaN,R,R,...,NaN,D1,D10,D6,D3,D1,D1,D1,False,1
354,Bachelor,21,21_RACHEL_L,NaN,NaN,R,NaN,R,NaN,NaN,...,D7,D13,D1,D6,D1,D1,D1,NaN,False,2
355,Bachelor,21,21_CORRINE_O,NaN,R,NaN,NaN,R,NaN,NaN,...,D7,D13,D2,D6,D3,D1,NaN,NaN,False,2
356,Bachelor,21,21_KRISTINA_S,NaN,NaN,NaN,R,R,R,EQ,...,D7,D13,D10,D1,D3,NaN,NaN,NaN,False,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0

In [225]:
## Contestants with value "W" in week 10 are the winners. 
## Contestants who have not been eliminated by week 7 are in the top 6

In [226]:
eliminated = ['E','EQ','EF','ED','EU']

In [227]:
type(eliminated)

list

In [228]:
def early_elim(df, eliminated):
    return df.iloc[:,[3,4,5,6,7,8]].isin(eliminated).any(axis=1)

In [229]:
df['Eliminated Early'] = early_elim(df,eliminated)

/var/folders/3q/gh58wr8n0bn6klh8zsbs_yx40000gn/T/ipykernel_52143/3309344963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Eliminated Early'] = early_elim(df,eliminated)

In [230]:
df

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-4,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10,First Impression Rose?,Roses from Dates,Eliminated Early
352,Bachelor,21,21_VANESSA_G,R1,NaN,R,NaN,NaN,NaN,NaN,...,D13,D10,D6,D1,D1,D1,D1,True,1,False
353,Bachelor,21,21_RAVEN_G,NaN,NaN,NaN,R,NaN,R,R,...,D1,D10,D6,D3,D1,D1,D1,False,1,False
354,Bachelor,21,21_RACHEL_L,NaN,NaN,R,NaN,R,NaN,NaN,...,D13,D1,D6,D1,D1,D1,NaN,False,2,False
355,Bachelor,21,21_CORRINE_O,NaN,R,NaN,NaN,R,NaN,NaN,...,D13,D2,D6,D3,D1,NaN,NaN,False,2,False
356,Bachelor,21,21_KRISTINA_S,NaN,NaN,NaN,R,R,R,EQ,...,D13,D10,D1,D3,NaN,NaN,NaN,False,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,True
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,True
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,True
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,True
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,True

In [231]:
# Top 6 is our target variable
df['Top 6'] = ~df['Eliminated Early']

/var/folders/3q/gh58wr8n0bn6klh8zsbs_yx40000gn/T/ipykernel_52143/1073620045.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Top 6'] = ~df['Eliminated Early']

In [232]:
df

,SHOW,SEASON,CONTESTANT,ELIMINATION-1,ELIMINATION-2,ELIMINATION-3,ELIMINATION-4,ELIMINATION-5,ELIMINATION-6,ELIMINATION-7,...,DATES-5,DATES-6,DATES-7,DATES-8,DATES-9,DATES-10,First Impression Rose?,Roses from Dates,Eliminated Early,Top 6
352,Bachelor,21,21_VANESSA_G,R1,NaN,R,NaN,NaN,NaN,NaN,...,D10,D6,D1,D1,D1,D1,True,1,False,True
353,Bachelor,21,21_RAVEN_G,NaN,NaN,NaN,R,NaN,R,R,...,D10,D6,D3,D1,D1,D1,False,1,False,True
354,Bachelor,21,21_RACHEL_L,NaN,NaN,R,NaN,R,NaN,NaN,...,D1,D6,D1,D1,D1,NaN,False,2,False,True
355,Bachelor,21,21_CORRINE_O,NaN,R,NaN,NaN,R,NaN,NaN,...,D2,D6,D3,D1,NaN,NaN,False,2,False,True
356,Bachelor,21,21_KRISTINA_S,NaN,NaN,NaN,R,R,R,EQ,...,D10,D1,D3,NaN,NaN,NaN,False,2,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,Bachelor,01,01_KRISTINA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,0,True,False
917,Bachelor,01,01_LISA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,0,True,False
918,Bachelor,01,01_PAULA_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,0,True,False
919,Bachelor,01,01_RACHEL_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,0,True,False
920,Bachelor,01,01_WENDI_X,E,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,0,True,False

In [238]:
corr_coef = df['Roses from Dates'].corr(df['Top 6'])

print(corr_coef)

0.635253777245516

In [240]:
corr_coef = df['First Impression Rose?'].corr(df['Top 6'])

print(corr_coef)

0.17932483175140046

In [234]:
# now we want to see whether or not they got a One-on-One date in the first 5 weeks
date = ['D1']

In [235]:
def early_oneonone(df, date):
    return df.iloc[:,[13,14,15,16,17]].isin(date).any(axis=1)

In [236]:
df['Early One-on-One'] = early_oneonone(df,date)

/var/folders/3q/gh58wr8n0bn6klh8zsbs_yx40000gn/T/ipykernel_52143/1979134753.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Early One-on-One'] = early_oneonone(df,date)

In [237]:
df['Top 6']

352     True
353     True
354     True
355     True
356     True
       ...
916    False
917    False
918    False
919    False
920    False
Name: Top 6, Length: 549, dtype: bool

Now we have the target variable: Top 6

Independent variables/features: First Impression Rose, the total number of roses they got within the first 5 weeks, 
and whether or not they got a one-on-one date in the first 5 weeks.

We can drop the columns we aren't interested in/that won't help our model.

In [199]:
df = df.drop(columns=['SHOW','SEASON','CONTESTANT','ELIMINATION-1','ELIMINATION-2','ELIMINATION-3',
                'ELIMINATION-4','ELIMINATION-5','ELIMINATION-6','ELIMINATION-7','ELIMINATION-8','ELIMINATION-9',
                'ELIMINATION-10','DATES-1','DATES-2','DATES-3','DATES-4','DATES-5','DATES-6','DATES-7',
                'DATES-8','DATES-9','DATES-10','Eliminated Early'])

Great! We have these functional features that tell us a lot about each contestant. But they can't be processed
by Python. We need to encode them numerically.

We'll use dummy encoding by converting it to int.

In [200]:
df['FIR_encoded'] = df['First Impression Rose?'].astype(int)
df['Early_1on1_encoded'] = df['Early One-on-One'].astype(int)
df['Target'] = df['Top 6'].astype(int)

In [201]:
df = df.drop(columns=['First Impression Rose?','Top 6','Early One-on-One'])

In [202]:
df

     Roses from Dates  FIR_encoded  Early_1on1_encoded  Target
352                 1            1                   1       1
353                 1            0                   1       1
354                 2            0                   1       1
355                 2            0                   0       1
356                 2            0                   0       1
..                ...          ...                 ...     ...
916                 0            0                   0       0
917                 0            0                   0       0
918                 0            0                   0       0
919                 0            0                   0       0
920                 0            0                   0       0

[549 rows x 4 columns]

Looking good! These are ready to be processed by our model. But first, we need to address the class label imbalance.

There are more contestants that did not make the top 6, than those who did. It may be worthwhile to undersample the contestants who were eliminated early.

In [203]:
import pandas as pd
from sklearn.utils import resample

class_counts = df['Target'].value_counts()
print(class_counts)

0    474
1     75
Name: Target, dtype: int64

In [204]:
minority_class_size = class_counts.min()
majority_class_size = minority_class_size
undersampled_data = pd.concat([resample(df[df['Target'] == 0], 
                                        replace=False,
                                        n_samples=majority_class_size),
                               df[df['Target'] == 1]])

In [205]:
undersampled_class_counts = undersampled_data['Target'].value_counts()
print(undersampled_class_counts)

0    75
1    75
Name: Target, dtype: int64